// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$primary: #FFD98E;
$secondary: #22138D;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$btn-border-radius:           200px !default;
$btn-border-radius-lg:        200px !default;
$btn-border-radius-sm:        200px !default;

// Buttons + Forms
$input-btn-padding-y:         .400rem !default;
$input-btn-padding-x:         .95rem !default;
// $input-btn-line-height:       $line-height-base !default;

$input-btn-focus-width:       .2rem !default;
// $input-btn-focus-color:       rgba($component-active-bg, .25) !default;
// $input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .8rem !default;
$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1.5rem !default;
// Forms
$input-padding-y:                       .550rem !default;
$input-padding-x:                       .950rem !default;
$input-border-color:                    #e0e0e0 !default;
$input-border-radius:                   .55rem !default;
$input-border-radius-lg:                .65rem !default;
$input-border-radius-sm:                .45rem !default;


// Card
$cardRadius :15px !important;
.card-img-top{
    border-top-left-radius:$cardRadius;
    border-top-right-radius: $cardRadius;
}